<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>prototype {{ page.title }}</title>
	<meta name="description" content="">
	<meta name="author" content="humans.txt">
	<meta name="keywords" content="">
	
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/animate.css">
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
	<!--[if lt IE 9 & !IEMobile]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<link rel="apple-touch-icon" href="images/favicon/favicon.png">
	<link rel="icon" href="images/favicon/favicon.png">
	<link rel="icon" href="images/favicon/favicon.png" sizes="16x16">
	<link rel="icon" href="images/favicon/favicon.png" sizes="32x32">
	<link rel="icon" href="images/favicon/favicon.png" sizes="48x48">
	<link rel="icon" href="images/favicon/favicon.png" sizes="64x64">
	<link rel="icon" href="images/favicon/favicon.png" sizes="128x128">
	<!--[if IE]>
	<link rel="shortcut icon" href="favicon.ico"/>
	<![endif]-->

	<meta name="application-name" content=""> 
	<meta name="msapplication-TileColor" content="#111">
	<meta name="msapplication-TileImage" content="images/favicon/favicon.png">
	<meta http-equiv="cleartype" content="on">
	
	<script src="//use.typekit.net/snm1npm.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body class="page">
 <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="viewport">
	<main>
	
